name: Auto Approve and Merge Pull Requests

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-approve-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Approve PR
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          review-message: "Auto-approved by GitHub Actions"
          require-minimum-reviews: 0

      - name: Auto merge PR
        uses: pascalgn/automerge-action@v0.16.3
        env:
          GITHUB_TOKEN: ${{ secrets.VERSION_TOKEN }}
          MERGE_LABELS: automerge
          MERGE_METHOD: merge
          MERGE_COMMIT_MESSAGE: pull_request_title
          MERGE_FORKS: false
          MERGE_RETRIES: 10
          MERGE_RETRY_SLEEP: 10000
          UPDATE_METHOD: merge
